<div class="card mb-4 shadow">
  <img
    src="{{ blog_post.cover_image.url }}"
    alt="Blog Post Cover Image"
    class="card-img-top"
  />
  <div class="card-body">
    <h5 class="card-title">{{ blog_post.title }}</h5>
    <p class="card-text">{{ blog_post.sub_header }}</p>
    <p class="card-text text-muted">
      Published on: {{ blog_post.published_date }}
    </p>
    <a
      href="{% url 'blog_post_detail' blog_post.slug %}"
      class="btn btn-primary"
      >Read Post</a
    >
  </div>
</div>
