<h1>Book 1</h1>
<h2>Author 1</h2>

<h1>2077cms</h1>
<p>Content management system written in Python(Django)</p>
<h2>Prerequisites</h2>
<p>Before running the application, ensure you have the following:</p>
<ul>
  <li>Notion for database</li>
  <li>Git (for version control)</li>
</ul>
<h2>Running the App</h2>
<ol>
  <li>Clone the repository</li>
</ol>
<p>
  <code
    >bash git clone https://github.com/2077-Collective/2077cms.git cd
    2077cms</code
  >
</p>
<ol>
  <li>
    <p>Create virtual environment</p>
  </li>
  <li>
    <p>For MacOS,</p>
    <p><code>bash python3 -m venv .venv source .venv/bin/activate</code></p>
  </li>
  <li>
    <p>For Windows,</p>
    <p>
      <code
        >bash pip3 install virtualenv virtualenv myenv
        myenv\Scripts\activate</code
      >
    </p>
  </li>
  <li>
    <p>Install dependencies for the project:</p>
  </li>
</ol>
<p><code>bash pip3 install -r requirements.txt</code></p>
<ol>
  <li>Setup Environment Variables:</li>
</ol>
<p>Create a .env file in the root directory with the following variables:</p>
<p>
  <code
    >NOTION_TOKEN=&lt;secret token here&gt; NOTION_DATABASE_ID=&lt;database id
    here&gt;</code
  >
</p>
<ol>
  <li>
    <p>Run the application in development mode:</p>
  </li>
  <li>
    <p>Start Backend server:</p>
  </li>
</ol>
<p>
  ```bash python3 manage.py makemigrations # To compile the migrations python3
  manage.py migrate # To migrate the changes in Database python3 manage.py
  runserver # To run the server
</p>
<p>```</p>
<ol>
  <li>API Testing: <code>http://127.0.0.1:8000/&lt;ROUTE&gt;</code></li>
</ol>
<p>
  | Method | Route | Description | | :----: | :-------: | :----------------: | |
  GET | / | 2077 main page | | GET | /research | research blog page |
</p>
<p>Working in Progress...stay tuned</p>
<p>Book 2 Author 2 This is another book.</p>
