<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Research</title>
  </head>
  <body>
    <header>
      <h1>2077 Research Page</h1>
    <p>
      Deep dives and technical analyses on Ethereum infrastructure, protocols, and applications.
    </p>
    </header>
    <section>
      <div class="row">
        {% for blog_post in blog_posts %}
          <div class="col-md-4">
            {% include 'blogPostCard.html' with blog_post=blog_post %}
          </div>
        {% endfor %}
      </div>
    </section>
    
  </body>
</html>
