.venv/
.env
__pycache__/
test.py
test.json
markdownRenderer.py
db.json
blocks.json
data.json
notion.py
vpsSetup.md

.DS_Store
test.rest
db.sqlite3
staticfiles/
nohup.out
dump.rdb
celerybeat-schedule.db
celerybeat-schedule
