<header class="pt-8 px-6 lg:px-32">
    <nav>
        <div class="">
            <div>
              <a href="/" class="logo block light dark:hidden">
                <img src="/logo-black.webp" alt="" width="197" height="58" />
              </a>
              <a href="/" class="logo hidden dark dark:block">
                <img src="/logo-white.webp" alt="" width="197" height="58" />
              </a>
            </div>
          </div>
    </nav>
</header>