---
import BaseHead from "../components/layout/BaseHead.astro";
import Header from '../layouts/Header.astro'
import Footer from '../layouts/Footer.astro'

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const { title, description, ogImage } = Astro.props;

const _ogImage = new URL(
  "https://res.cloudinary.com/dltdrlzdg/image/upload/v1720021067/ShMk1Iw_vrsqmi.webp"
);
---
<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<!doctype html lang="en">
	<BaseHead ogImage={_ogImage} title={title} description={description} />
  <Header />
	<body>
		<slot />
	</body>
  <Footer />
</html>
