---
import BaseHead from '../components/layout/BaseHead.astro'
import Header from '../components/Header.svelte'
import Footer from '../layouts/Footer.astro'

interface Props {
    title: string
    description: string
    ogImage?: URL
}

const { title, description, ogImage } = Astro.props

const _ogImage = new URL(
    'https://res.cloudinary.com/dltdrlzdg/image/upload/v1720021067/ShMk1Iw_vrsqmi.webp',
)
---

<script is:inline>
    function myFunction() {
        document.getElementById('myDropdown').classList.toggle('show')
    }

    /**Dropdown menu logic */
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName('dropdown-content')
            var i
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i]
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show')
                }
            }
        }
    }
</script>

<html lang="en" class="h-full">
    <BaseHead ogImage={_ogImage} title={title} description={description} />
    <Header client:load />
    <body class="dark:bg-black dark:text-white">
        <slot />
    </body>
    <Footer />
</html>
