---
import BaseHead from "../components/layout/BaseHead.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const { title, description, ogImage } = Astro.props;

const _ogImage = new URL(
  "https://res.cloudinary.com/dltdrlzdg/image/upload/v1720021067/ShMk1Iw_vrsqmi.webp",
);
---

<html lang="en" class="h-full">
  <BaseHead ogImage={_ogImage} title={title} description={description} />
  <Header />
  <body class="">
    <slot />
  </body><Footer />
  <style>
    body {
      background: white;
      color: black;
      //padding: 2em;
      padding-block-start: 0;
      font-family: "avenir-book", sans-serif;
      line-height: 1.7;
    }

    .dark {
      body {
        background: black;
        color: white;

        header {
          a.button-primary {
            color: var(--color-dark);
          }
        }
      }
    }
  </style>
  
  <script is:inline>
    const theme = () => {
      let btn = document.querySelector("#btn");
      let btn_mobile = document.querySelector("#btn-mobile");
      const toggleDarkMode = () => {
        document.documentElement.classList.toggle("dark");
        const isDarkMode = document.documentElement.classList.contains("dark");
        localStorage.setItem("theme", isDarkMode ? "dark" : "light");
      };
      btn.addEventListener("click", toggleDarkMode);
      btn_mobile.addEventListener("click", toggleDarkMode);
    };

    theme();

    document.addEventListener("astro:after-swap", theme);
  </script>
</html>
